<div class="container">
  <div style="margin-top:55px"></div>
  <h1 class="h3 mb-3 font-weight-normal text-center">Edit Profile</h1>


<%= form_with(model: instructor, local: true) do |form| %>
  <% if instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>
      <ul>
      <% instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
  <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
          <strong><%= form.label :nickname %></strong>
          <%= form.text_field :nickname, class: "form-control" %>
      </div>

      <div class="form-group">
        <strong><%= form.label :email %></strong>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
      <strong><%= form.label :siret %></strong>
        <%= form.text_field :siret, class: "form-control" %>
      </div>

      <div class="form-group">
        <strong><%= form.label :website %></strong>
        <%= form.text_field :website, class: "form-control" %>
      </div>

      <div class="form-group">
        <strong><%= form.label :description %></strong>
        <%= form.text_field :description, class: "form-control" %>
      </div>
      <br>
        
    <h3>Logo</h3>
      <%if @instructor.logo.attached?%>
        <%= image_tag @instructor.logo, alt: 'image', class:"profile-image rounded-circle"  %>
      <%else%>
        <p>=== There aren't any logos linked to this instructor yet ===</p>
      <%end%>
    
    <h5>Add or modify the logo ?</h5>
    <div class="field">
      <%= form.label 'logo', :class => 'button hollow', :for => 'pic' %>
      <%= form.file_field :logo, :class => 'show-for-sr', :id => 'pic' %>
    </div>
      <div style="margin-top:35px"></div>
    </div>
    
    <div class="d-flex justify-content-center">
    <div class="actions">
        <%= form.submit "Update profil", class: "btn btn-lg btn-primary btn-block" %>
        <% end %>
    </div>
    </div>
  </div>
</div>
