<div class="container">
  <br>
  <h2 class="text-center">Featured courses</h2>
  <br>
  <div class="row">
    <% course_featured = CoursesFeatured.all%>
    <% course_featured.order(created_at: :desc).each do |one_featured| %>
      <% one_course = Course.find(one_featured.course_id)  %>
      <div class="col-sm-4 pt-3">
        <div class="card" style="width: 18rem; height: 33rem; margin-bottom: 50px;">
          <%if one_course.picture.attached?%> 
            <%= image_tag one_course.picture, class:"card-img-top", alt: 'image', style: 'height: 35%' %> 
          <% end %>
          <div class="card-body">
            <% if user_signed_in? %>
              <% if current_user.admin == false%>
                <div class="d-flex justify-content-end my-2">
                  <% one_favorite = Favorite.find_by(course_id: one_course.id, user_id: current_user.id)%>
                  <% if one_favorite != nil %>
                    <%= link_to favorite_path(one_favorite.id), method: :delete do %>
                      <i class="fas fa-star fa-2x color-primary"></i>
                    <%end%> 
                  <% else %>
                    <%= link_to favorites_path(:user_id => current_user.id, :course_id => one_course.id), :method => :post do %>
                      <i class="far fa-star fa-2x"></i>
                    <%end%>
                  <% end %>
                </div>
              <% end %>   
            <% end %>              
            <strong><p class="card-title"><%= one_course.title %> </p></strong>
            <br>
            <p class="card-text"> Proposed by : <%= find_instructor(one_course) %></p>
          </div>
          <% if user_signed_in?%>
            <div class="text-center">
              <div class="sameline likes-count">
                <%= one_course.get_upvotes.size%>
              </div>
              <% if one_course.get_upvotes.size <= 1 %>
                <div class="sameline"><%= " person recommand this course" %></div>
              <%else%> 
                <div class="sameline"><%= " persons recommand this course" %></div>
              <%end%>                 
            </div>
            <div class="text-center">
              <p><%= comment_array_by_course(one_course).size %> comments</p>          
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-center my-2">
                <%= link_to 'Get more informations', one_course, class:"btn btn-info text-light" %>
                <br>
              </div>
            </div>
          <% elsif instructor_signed_in? %>
            <div class="text-center">
              <div class="sameline likes-count"><%= one_course.get_upvotes.size%></div>
              <% if one_course.get_upvotes.size <= 1 %>
                <div class="sameline"><%= " person recommand this course" %></div>
              <%else%> 
                <div class="sameline"><%= " persons recommand this course" %></div>
              <%end%>                 
            </div>
              <div class="text-center">
                <p><%= comment_array_by_course(one_course).size %> comments</p>          
              </div>
            <div class="card-footer">
              <div class="d-flex justify-content-center my-2">
                <%= link_to 'Get more informations', one_course, class:"btn btn-info text-light" %>
                <br>
              </div>
            </div>
          <% else %>
            <div class="card-footer" style="text-align:center">
              <div class="d-flex justify-content-center">
                <p>If you want to know more about this course, please sign up</p>
              </div>
             </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr size="5">



